<template name="header">

    <div class="ui three item labeled icon inverted menu">
        <a class="{{isNavBtnActive "joke"}} green item" data-target="joke">
            <i class="smile icon"></i>
            Joke
        </a>
        <a class="{{isNavBtnActive "crud"}} pink item" data-target="crud">
            <i class="browser icon"></i>
            CRUD
        </a>
        <a class="{{isNavBtnActive "stats"}} blue item" data-target="stats">
            <i class="bar chart icon"></i>
            Stats
        </a>
    </div>

</template>
