<template name="crudForm">
    <h2>NEW JOKE</h2>

    <div class="ui large form">

        <div class="ui stacked segment">

            <div class="field">
                <input type="text" name="question" placeholder="Question">
            </div>

            <div class="field">
                <input type="text" name="punchline" placeholder="Punchline">
            </div>

            <div class="ui fluid large teal submit button">Submit</div>

        </div>

        <div class="ui error message"></div>

    </div>

</template>